<%- include('./partials/head.ejs') %> 

<body>
  <div id="page">
    <div class="card-content">
      <h1>Formulário de Cadastro</h1>
    
      <!-- Formulário da consulta -->
      <form method="POST" action="/cadastrar">
        <div class="form-input">
          <label for="cpf">CPF</label>
          <input id="cpf" name="cpf" type="text">
        </div>

        <div class="form-input">
          <label for="name">Nome</label>
          <input id="name" name="name" type="text">
          <!--<textarea name="query" id="query" cols="30" rows="5"></textarea>-->
        </div>

        <div class="form-input">
          <label for="gender">Gênero</label>
          <select name="gender" id="gender">
            <option value="" disabled selected>Escolha uma opção...</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="O">Outro</option>
          </select>
        </div>

        <div class="form-input">
          <label for="date">Data de Nascimento</label>
          <input id="date" name="date" type="date">
        </div>

        <div class="form-input">
          <label for="occupation">Profissão</label>
          <input id="occupation" name="occupation" type="text">
        </div>

        <button type="submit" class="btn-query">Cadastrar</button>
      </form>
    </div>
  </div>
</body>

</html>