<%- include('./partials/head.ejs') %> 

<body>
  <div id="page">
    <div class="card-content">
      <h1>Pessoas Cadastradas</h1>

      <div class="filter-block">
        <select name="occupation" id="occupation">
          <option value="" disabled selected>Filtrar por profissão...</option>
          <option value="professor">Professor</option>
          <option value="programador">Programador</option>
        </select>
        <i class="fas fa-filter"></i>
      </div>

      <div class="people-table">
        <table>
          <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Data de Nascimento</th>
            <th>Profissão</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>

</html>